<div class="get-bundle-builder-widget hide">
  <div class="bundle-widget-wrap">
    {% for variant in product.variants %}
      {% if variant.metafields.custom.component_reference != blank and variant.metafields.custom.component_quantities != blank %}
        <h3 class="bundle-title">{{ block.settings.title }}</h3>
        {% assign bundlePrice = 0 %}
        {% assign priceAdjustment = variant.metafields.custom.price_adjustment.value | plus: 0 %}
        <div class="bundle-item-grid {{ priceAdjustment }}">
          {% for cr in variant.metafields.custom.component_reference.value %}
            {% assign bundlePrice = bundlePrice | plus: cr.price %}
            <div class="bundle-item">
              <div class="bi-image">
                <img
                  src="{{ cr.product.featured_image | img_url: 'original' }}"
                  width="100"
                  height="100"
                  loading="lazy" />
              </div>
              <h4 class="title">{{ cr.product.title }}-{{ cr.title }}</h4>
              <div class="bi-price">{{ cr.price | money }}</div>
            </div>
          {% endfor %}
        </div>
        <div class="bundle-price">
          {% assign bundleDiscountPrice = priceAdjustment | divided_by: 100 | times: product.price %}
          <span class="original-price">{{ product.price | minus: bundleDiscountPrice | money }}</span>
          <span class="compare-price">{{ bundlePrice | money }}</span>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

{% for variant in product.variants %}
  {% if variant.metafields.custom.component_reference != blank and variant.metafields.custom.component_quantities != blank %}
    <script>
      const priceWrapper = document.querySelector('.product__info-wrapper .price');
      if (priceWrapper) {
        priceWrapper.style.display = 'none';
      }
      document.querySelectorAll('.product-form__input').forEach(item => {
        item.style.display = 'none';
      });
      const EmbedWidget = document.querySelector('.get-bundle-builder-widget').innerHTML;
      const hasEmbedCode = document.querySelectorAll('.bundle-widget-inject').length;
      const hasAppBLockCode = document.querySelectorAll('.bundle-widget-wrap.app-block').length;
      if (hasAppBLockCode == 0) {
        if (hasEmbedCode > 0) {
          document.querySelectorAll('.bundle-widget-inject')[0].innerHTML = EmbedWidget;
        } else {
          document.querySelectorAll('.form[action="/cart/add"]')[0].innerHTML += EmbedWidget;
        }
      }
    </script>
    {% break %}
  {% endif %}
{% endfor %}

{% schema %}
  {
    "name": "Bundle Widget",
    "target": "body",
    "stylesheet": "bundle.css",
    "javascript": "bundle.js",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Bundle Products"
      }
    ]
  }
{% endschema %}